body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
    padding: 130px;

}

.top-div {
    text-align: center;
    color: white;
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.donate-details {
    text-align: center;
    padding-top: 40px;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
    margin-top: 50px;
}

.div-width {
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    border: 2px solid tomato;
}

.div-amount {
    text-align: center;
    text-decoration: none;
}

.food-shelter-education {
    width: 30%;
    margin: 3%;
    padding: 3%;
    background-color: rgba(247, 173, 136, 0.473);
}

input {
    border: none;
}

.live-depend {
    width: 50%;
    padding: 3%;
}

.live-depend img {
    width: 80%;
}

h2 {
    font-size: 40px;
}


#second-input {
    padding: 2px;
    width: 250px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(211, 185, 185);
}

button {
    padding: 2px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: tomato;
}

footer {
    text-align: center;
    background-color: black;
    height: 100px;
    padding: 5px;
    margin-top: 30px;

}

span {
    color: white;
}

strong {
    color: tomato;

}